<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

    <head>
        <title>Simple Message Board - Login</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    </head>
    <body>
    <div class="jumbotron text-center">
        <h1>Simple Message Board</h1>
    </div>
    <div class="container col-md-4">
        <form th:action="@{/login}" method="POST">
            <div>
                <label th:text="#{label.user.email}"></label>
                <input type="text" name="email" class="pull-right"/>
            </div>
            <br/>
            <div>
                <label th:text="#{label.user.password}"></label>
                <input type="password" name="password" class="pull-right"/>
            </div>
            <br/>
            <div class="pull-right">
                <a th:href="@{/signup}" th:text="#{label.form.signupLink}"></a>&nbsp;<input type="submit" value="Sign In"/>
            </div>
            <div th:if="${error == 'credentials'}" th:text="#{error.credentials}"></div>
        </form>
    </div>
    </body>
</html>

<script src="http://code.jquery.com/jquery.js"></script>
<script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>