<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

    <head>
        <title>Simple Message Board</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet" media="screen"/>

        <style>
            .container .list-group { height: 300px; max-height: 300px; overflow-y:scroll; }
            .input-group .hidden { display: none; }
            #messageInput.editing { background-color: orange; }
        </style>

    </head>

    <body>

        <div class="jumbotron text-center">
            <h1>Simple Message Board</h1>
            <h2 th:text="${content.user.firstName} + ' ' + ${content.user.lastName}">user</h2>
            <form th:action="@{/logout}" method="POST">
                <input type="submit" value="Sign Out"/>
            </form>
        </div>

        <div class="container">
            <div class="list-group" style="">
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start messageElem"
                   th:each="message : ${content.messages}" th:attr="data-messageid=${message.key}">
                    <div class="d-flex w-100 justify-content-between">
                        <small class="text-muted" th:text="${message.value.timestamp} + '/' + ${message.key}">timestamp</small>
                    </div>
                    <div class="pull-right" th:if="${content.user.email == message.value.userId}">
                        <button type="button" class="btn btn-default editMessage">
                            <span class="glyphicon glyphicon-edit"></span>
                        </button>
                        <button type="button" class="btn btn-default deleteMessage">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </div>
                    <p class="mb-1" th:text="${message.value.message}">text</p>
                    <small class="text-muted" th:text="${message.value.userId}">username</small>
                </a>
            </div>

            <div class="input-group">
                <input type="text" class="form-control" id="messageInput" th:placeholder="#{label.message.placeholder}"/>
                <span class="input-group-btn">
                    <button id="submitMessage" class="btn btn-default" type="submit" th:text="#{label.form.submit}">submit</button>
                    <button id="editMessage" class="btn btn-default hidden" type="submit" th:text="#{label.form.edit}">edit</button>
                    <button id="cancelEdit" class="btn btn-default hidden" th:text="#{label.form.cancel}">cancel</button>
                </span>
            </div>
        </div>
    </body>
</html>

<script src="http://code.jquery.com/jquery.js"></script>
<script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>

<script>
    $('#submitMessage').click(function() {
        $.ajax({
            url: "/message/add",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({message: $('#messageInput').val()}),
            success: function(result){
                location.reload();
            }
        });
    });

    $('.messageElem').each(function(){
        const messageId = $(this).data("messageid");
        const messageText = $(this).find('p.mb-1').text();
        const $deleteTrigger = $(this).find('.deleteMessage');
        const $editTrigger = $(this).find('.editMessage');

        $deleteTrigger.click(function() {
            $.ajax({
                url: "/message/remove/" + messageId,
                type: "POST",
                success: function(result){
                    location.reload();
                }
            });
        });

        $editTrigger.click(function() {
            $('#messageInput').addClass('editing').val(messageText);
            $('#submitMessage').addClass('hidden');
            $('#editMessage, #cancelEdit').removeClass('hidden');
            $('#editMessage').click(function() {
                $.ajax({
                    url: "/message/edit",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify({
                        id: messageId,
                        message: $('#messageInput').val()
                    }),
                    success: function(result){
                        location.reload();
                    }
                });
            });
            $('#cancelEdit').click(function(){
                $('#messageInput').removeClass('editing').val("");
                $('#submitMessage').removeClass('hidden');
                $('#editMessage, #cancelEdit').addClass('hidden');
            });
        });
    });

    const $messageContainer = $('.container .list-group');
    $messageContainer.scrollTop($messageContainer[0].scrollHeight);

</script>